body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdf5c9;
  color: #6b3e26;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
    'header header'
    'left right';
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100px 1fr;
}

.header {
  display: flex;
  justify-content: center;
  grid-area: header;
}

.header, 
h2 {
  font-family: 'Pacifico', cursive;
}

.left {
  grid-area: left;
  margin: 10px;
}

.right {
  grid-area: right;
  margin: 10px;
}

h2 {
  font-size: 1.25rem;
}

.set-range,
.challengers, 
.latest-score {
  background-color: #ffffe0;
  border: solid #ffc5d9 2px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: 	#ffcb85;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
  box-sizing: border-box;
}

.range-container, 
.controls,
.score-cards,
.challenger-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.range {
  display: flex;
  flex-direction: column;
}
.range-input {
  width: 80%;
  height: 1fr;
}

.range-btn {
  display: flex;
  align-items: flex-end;
}

#update-btn {
  height: 24px;
  display: flex;
  align-items: center;
}

.challenger-inputs {
  width: 100%;
}

.challenger-input {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.controls {
  margin-top: 20px;
}

.card, 
.winner-card {
  border: solid #ffc5d9 2px;
  border-radius: 10px;
  width: 40%;
  padding: 5px;
  background-color: #c2f2d0;
}

.winner-card {
  width: 100%;
  margin: 
}

